
.chessboard {
    position: sticky;
    width: 670px;
    height: 640px;
    border-top: 30px #333 solid;
    border-right: 30px #333 solid;
    border-bottom: 30px #333 solid;
    background-color: #333;
    margin: auto; 
    
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.white {
    float: left;
    width: 80px;
    height: 80px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    position: relative;
}


.hcor { 
    float: left; 
    width: 80px; 
    height: 30px; 
    font-size:21px;
    vertical-align:middle;
    text-align: center; 
    color: white; 
    background: #333; 
    position: relative; 
}

.vcor {
    float: left; 
    width: 30px; 
    height: 80px; 
    font-size: 21px;
    color: white; 
    text-align: center; 
    background: #333; 
    line-height: 80px;
    position: relative; 
}


.shcor { 
    margin-left:30px; 
}

.vcor span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;   
}

.greenshine {
    box-shadow:0px 0px 5px 3px #31b43a inset;
}

.turn:hover {
    cursor: pointer; 
}

.greenshine:hover {
    cursor: pointer; 
}

.redshine {
    box-shadow:0px 0px 5px 3px red inset;
}

.goldshine {
    box-shadow: 0px 0px 5px 3px gold inset; 
}

.msgbox {
    position: absolute; 
    font-size: 27px; 
    margin-bottom: 15px; 
    margin-left: 5.5%; 
    margin-top: 1.5%; 
    font-family: "Arial Narrow", sans-serif; 
    text-align: center; 
    opacity: 1;
    transition: 1s opacity;
}
.menutext {
    position: absolute; 
    color: white; 
    left: 16%; 
    width:500px;
    height:100px;
    font-size: 25px;
    margin-top: 200px; 
    font-family: "Comic Sans MS";
    text-align: center; 
    opacity: 1;
    transition: 1s opacity;
}

.button {
    padding: 7px; 
    border: solid 3px grey; 
    border-radius: 10px; 
    background: grey; 
    color: white; 
    font-family: "Comic Sans MS";
    font-weight: bold;
    opacity: 0.8; 
    width: 130px; 
    height: 25px; 
}


.button:hover {
    cursor: pointer; 
    opacity: 1;
}

.ngame {
    text-align: center; 
    position: absolute; 
    left: 41%; 
    top: 330px;
}

.bai {
    position: absolute; 
    text-align: center; 
    left: 41%; 
    top: 400px;
}

.wai {
    position: absolute; 
    text-align: center; 
    left: 41%; 
    top: 470px;

}

.menubutton:hover {
    cursor: pointer; 
}

